* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Karla", sans-serif !important;
  font-size: 17px;
  line-height: 1.6;
}
#press {
  background-image: url("https://cdn.shopify.com/s/files/1/0158/2548/products/Frankies-Bikinis-Lookbook-4-Neon_2048x.jpg?v=1543514901") !important;
  background-size: cover !important;
  background-position: center !important;
  height: 140vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#contact {
  background-image: url("https://ae01.alicdn.com/kf/HTB1QMw6n0fJ8KJjy0Feq6xKEXXa7/Hawaii-Seaside-Sunshine-Scenery-Blue-Water-Sky-Photography-Backdrops-Wood-Decoration-Photo-Studio-Background-Props.jpg_640x640.jpg") !important;
  /* */
  /* url("https://cdn.shopify.com/s/files/1/0158/2548/products/Frankies-Bikinis-USA-12_2048x.jpg?v=1525890827");  closup*/
  /* url("https://cdn.shopify.com/s/files/1/0158/2548/products/Frankies-Bikinis-USA-5_2048x.jpg?v=1525890710"); closeup*/

  background-size: cover !important;
  background-position: center !important;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#story {
  background-image: url("https://cdn.shopify.com/s/files/1/0158/2548/products/Festival-4_2048x.jpg?v=1476475540") !important;
  background-size: cover !important;
  background-position: center !important;
  height: 130vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}
#showcase {
  background-image: url("https://cdn.shopify.com/s/files/1/0158/2548/products/Frankies-Bikinis-USA-10_2048x.jpg?v=1525890623") !important;
  /* https://i.pinimg.com/564x/dd/7e/5b/dd7e5bd847dda2f5915b33c8bef292a9.jpg */
  /* url("https://cdn.shopify.com/s/files/1/0426/9481/files/Ashley-Moore-3_ac4540b1-dc1e-4105-81e2-e07f43365d65_1024x1024.jpg?v=1496697427") !important; yellow umbrella */
  /* url("https://cdn.shopify.com/s/files/1/0158/2548/products/Frankies-Bikinis-USA-12_2048x.jpg?v=1525890827");  closup*/
  /* url("https://cdn.shopify.com/s/files/1/0158/2548/products/Frankies-Bikinis-USA-5_2048x.jpg?v=1525890710"); closeup*/
  /* url("https://cdn.shopify.com/s/files/1/0158/2548/products/Frankies-Bikinis-USA-10_2048x.jpg?v=1525890623") 2 girls red bikinis; */

  background-size: cover !important;
  background-position: center !important;
  height: 130vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#showcase p {
  font-size: 30px;
  line-height: 3.2;
}

#showcase .button {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  visibility: visible;
  font-size: 30px;
  text-decoration: none;
  color: black;
  border: white 2px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}
#showcase .button:hover {
  background: pink;
  color: #fff;
}
#section-a {
  padding: 15px;
  background: white;
  color: #fff;
  text-align: left;
}
#section-b {
  padding: 20px;
  background: #f4f4f4;
  text-align: center;
}
.materialboxed img {
  height: 50vh !important;
  width: auto !important;
  align-items: center;
}
header {
  display: block;
  background-color: black;
  width: 100%;
  height: 50px;
  color: white;
}
#headerButtons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navButton {
  float: right;
}
footer {
  display: block;
  width: 100%;
  height: 50px;
  background-color: white;
  color: white;
  bottom: 0;
}
.card {
  height: 38rem;
  display: inline-flex;
}
.slider-container {
  top: 0px;
  left: 0px;
  position: relative;
  image-orientation: center;
}

.slider-item-div {
  padding: 10px;
  background-color: white;
  text-align: center;
  height: 600px !important;
  width: auto !important;
}
.carousel-style {
  height: 100% !important;
  width: 100% !important;
}

.testing {
  background-color: grey;
  padding: 20px;
  margin: 20px;
}
.slider .btn {
  margin-top: 20px;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section-contact h5 {
  margin-bottom: 30px;
}
