* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  /* font-family: "Quicksand", sans-serif !important; */
  font-family: "Karla", sans-serif !important;
  /* font-family: "Abel", sans-serif !important; */

  font-size: 17px;
  line-height: 1.6;
}
.insta {
  /* font-family: "Londrina Sketch", cursive !important; */
  font-family: "Londrina Shadow", cursive !important;
}
.brand-logo {
  font-family: "Londrina Shadow", cursive !important;
  /* font-family: "Boomville", cursive !important; */
  color: white !important;
  font-size: 50px !important;
}

#press {
  background-image: url("https://cdn.shopify.com/s/files/1/0158/2548/products/Frankies-Bikinis-Lookbook-4-Neon_2048x.jpg?v=1543514901") !important;
  background-size: cover !important;
  background-position: center !important;
  height: 140vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#contact {
  background-image: url("https://ae01.alicdn.com/kf/HTB1QMw6n0fJ8KJjy0Feq6xKEXXa7/Hawaii-Seaside-Sunshine-Scenery-Blue-Water-Sky-Photography-Backdrops-Wood-Decoration-Photo-Studio-Background-Props.jpg_640x640.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#story {
  background-image: url("https://cdn.shopify.com/s/files/1/0158/2548/products/Festival-4_2048x.jpg?v=1476475540") !important;
  background-size: cover !important;
  background-position: center !important;
  height: 130vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}
#showcase {
  background-image: url("https://cdn.shopify.com/s/files/1/0158/2548/products/Frankies-Bikinis-USA-10_2048x.jpg?v=1525890623") !important;
  background-size: cover !important;
  background-position: center !important;
  height: 130vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#showcase p {
  font-size: 30px;
  line-height: 1.6;
}
/* .container {
  padding-bottom: 60px;
  padding-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
} */
#showcase .button {
  /* font-family: "Quicksand", sans-serif !important; */
  font-family: "Abel", sans-serif !important;
  /* font-family: "Londrina Shadow", cursive !important; */
  background-color: white !important;
  border-color: white !important;
  color: black !important;
  visibility: visible;
  font-size: 40px !important;
  text-decoration: none;
  color: black !important ;
  border: white 3px solid !important;
  padding: 10px 20px !important;
  border-radius: 10px !important;
  margin-top: 8px !important;
}
#showcase a.button:hover {
  background-color: black !important;
  text-decoration: none !important;
  color: white !important;
}

#section-a {
  padding: 15px;
  background: white;
  color: #fff;
  text-align: left;
}
#section-b {
  padding: 20px;
  background: #ffeff5;
  text-align: center;
}
.page-footer {
  background: white;
}
.materialboxed img {
  height: 50vh !important;
  width: auto !important;
  align-items: center;
}
header {
  display: block;
  background-color: black;
  width: 100%;
  height: 50px;
  color: white;
}
#headerButtons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navButton {
  float: right;
}

footer {
  height: 50px;
  color: white;
}
.card {
  height: 38rem;
  display: inline-flex;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.links a:hover {
  color: black !important;
  text-align: left !important;
  flex-direction: column !important;
  text-decoration: none !important;
  background-color: white !important;
  border-color: white !important;
  background-color: white !important;
}
.hide-on-med-and-down li a:hover {
  text-decoration: none !important;
  background-color: #282828 !important;
  color: white !important;
}
